{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "flow",
    "stage-2"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "transform-class-properties",
    "transform-function-bind",
    "@babel/plugin-transform-runtime"
  ]
}
