body * {
  box-sizing: border-box;
}

body {
    background-color: #4A4848;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen (max-width: 1024px) {
  body {
    width: 2000px;
  }
}

